<style>

html { 
	background-color: black; 
	margin: auto;
  overflow: hidden;
	}	

body {
	background-color: black; 
	border: 4px solid #FFFFFF; 
	max-width: 800px; 
	margin: auto; 
	padding: 20px;
	margin-top: 5%;
	overflow-y: auto;
	-webkit-overflow-scrolling:touch;
	}
	
pageslist {
	border: 2px solid #FFFFFF;
	}
	
h1   {
	color: #FFFFFF; 
	font-family: "Courier", Times, serif;}
	
h2   {
	color: #FFFFFF; 
	font-family: "Courier", Times, serif;}
	
h3   {
	color: #FFFFFF; 
	font-family: "Courier", Times, serif;}

h4   {
	color: #FFFFFF; 
	font-family: "Courier", Times, serif;}

p    {
	color: white;
	font-family: "Courier", Times, serif;
	font-size: 16px;
	max-width: 780px; }
	
#link_bar a { padding:15px; font-weight:bold; float:left; font-family: "Courier", Times, serif;}
#link_bar a:link { color:#d0d0d0; background-color:#332E3E; }
#link_bar a:visited { color:#c0c0c0; background-color:#332E3E; }
#link_bar a:hover { color:#ffffff; background-color:#4E385C; }
#link_bar a:active { color:#f0f0f0; background-color:#F468F0; }

	

	
</style>